configs:
  callback_proto:
    external: true
  mosquitto_conf:
    external: true

services:
  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
    configs:
      - source: mosquitto_conf
        target: /mosquitto/config/mosquitto.conf
    networks:
      - upb-network
    deploy:
      restart_policy:
        condition: any

  master:
    image: 10.1.2.162:5000/master:v1
    ports:
      - "3000:3000"
      - "50051:50051"
    secrets:
      - source: openai_api_key
        target: openai_api_key
    networks:
      - upb-network
    deploy:
      restart_policy:
        condition: any
    configs:
      - source: callback_proto
        target: /app/proto/callback.proto

  worker-fake:
    image: 10.1.2.162:5000/worker-fake:v1
    environment:
      WORKER_ID: worker-fake-1
      MQTT_BROKER: mqtt://mosquitto:1883
      GRPC_TARGET: master:50051
    secrets:
      - source: openai_api_key
        target: openai_api_key
    networks:
      - upb-network
    deploy:
      restart_policy:
        condition: any
    configs:
      - source: callback_proto
        target: /app/proto/callback.proto

  frontend:
    image: 10.1.2.162:5000/frontend:v3
    ports:
      - "8888:80"
    networks:
      - upb-network
    deploy:
      restart_policy:
        condition: any

secrets:
  openai_api_key:
    external: true

networks:
  upb-network:
    external: true
    name: upb-network
